{% extends 'usuarios/base.html' %}

{% block titulo %}Minhas Contribuições{% endblock %}

{% block conteudo %}
<div class="w-1/2 text-purple-800 my-6 mx-auto px-6 bg-purple-100 rounded-xl">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-4">Minhas Contribuições</h1>

        <div class="grid grid-cols-3 gap-4">
            <div class="font-bold">Campanha</div>
            <div class="font-bold">Data Contribuição</div>
            <div class="font-bold">Status Contribuição</div>

            {% for contribuicao in contribuicoes %}
                <div><a href="{% url 'contribuicoes:contrib_realizada' contribuicao.id %}">{{ contribuicao.campanha.titulo }}</a></div>
                <div>{{ contribuicao.data_contribuicao }}</div>
                <div>{{ contribuicao.status_contrib }}</div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}