{% extends 'usuarios/base.html' %}

{% block title %}Login Conta{% endblock %}

{% block conteudo %}
<div class="w-1/2 my-6 mx-auto px-6 bg-gray-100 rounded-xl text-purple-900">
    <h1 class="mb-6 text-3xl text-center">{{ titulo }}</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2 text-2xl">Email</label><br>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2 text-2xl">Senha</label><br>
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {% if field.errors %}
                        <li>
                            <strong>{{ field.label }}:</strong> {{ field.errors|striptags }}
                        </li>
                    {% endif %}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-purple-800 hover:bg-purple-900 rounded-xl text-white">Entrar</button>
    </form>
</div>
{% endblock %}