{% extends 'usuarios/base.html' %}

{% block titulo %} {{ projeto.titulo }} {% endblock %}

{% block conteudo %}
<div class="w-1/2 my-6 mx-auto px-6 bg-gray-100 rounded-xl">
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <!-- Imagem do Projeto e Título -->
        <div class="flex items-center mb-6">
            <img src="{{ projeto.imagem_perfil.url }}" alt="Imagem do Projeto" class="w-48 h-48 object-cover rounded-full">
            <div class="ml-6">
                <h1 class="text-3xl font-bold">{{ projeto.titulo }}</h1>
                <p class="text-gray-600">Data Criação: {{ projeto.data_criacao }}</p>
            </div>
        </div>
        
        <!-- Membros do Projeto -->
        <div class="mb-6">
            <h2 class="text-2xl font-bold mb-4">Membros do Projeto</h2>
            <table class="table-auto w-full text-left">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Membro</th>
                        <th class="px-4 py-2">Função</th>
                        <th class="px-4 py-2">Email</th>
                        <th class="px-4 py-2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for membro in membros %}
                        <tr>
                            <td class="border px-4 py-2">{{ membro.usuario.nome }}</td>
                            <td class="border px-4 py-2">{{ membro.get_funcao_display }}</td>
                            <td class="border px-4 py-2">{{ membro.usuario.email }}</td>
                            <td class="border px-4 py-2 text-right">
                                {% if funcao_usuario == 'ADMINISTRADOR' %}
                                    <a href="{% url 'projetos:confirma_excluir_membro' membro.id %}" class="bg-red-500 text-white px-4 py-2 rounded">Excluir</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-right">
                            {% if funcao_usuario == 'ADMINISTRADOR' %}
                            <a href="{% url 'projetos:form_adiciona_membro' projeto.id %}" class="bg-purple-800 text-white px-4 py-2 rounded mt-4 inline-block">Adicionar Membro</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Pitch Deck -->
        <div class="mb-6">
            <h2 class="text-2xl font-bold mb-4">Pitch Deck</h2>
            <p class="text-gray-700">{{ projeto.texto }}</p>
            <div class="flex space-x-4 mt-4">
                {% if projeto.imagem1 %}
                    <img src="{{ projeto.imagem1.url }}" alt="Imagem 1" class="w-36 h-36 object-cover rounded">
                {% endif %}
                {% if projeto.imagem2 %}
                    <img src="{{ projeto.imagem2.url }}" alt="Imagem 2" class="w-36 h-36 object-cover rounded">
                {% endif %}
                {% if projeto.imagem3 %}
                    <img src="{{ projeto.imagem3.url }}" alt="Imagem 3" class="w-36 h-36 object-cover rounded">
                {% endif %}
            </div>
        </div>
        
        <!-- Campanha em Andamento -->
        <div class="mb-6">
            <h2 class="text-2xl text-green-800 font-bold mb-4">Campanha em Andamento</h2>
            {% if campanhas_em_andamento_zip %}
                {% for campanha, crowd in campanhas_em_andamento_zip %}
                    <div class="mb-4 p-4 bg-green-100 rounded-lg">
                        <h3 class="text-xl text-purple-800 font-bold mb-2"><a href="{% url 'campanhas:principal_camp' crowd.0 crowd.1 %}">{{ campanha.titulo }}</a></h3>
                        <p class="text-gray-700">{{ campanha.descricao }}</p>
                        <p class="text-gray-500">Meta: R$ {{ campanha.meta }}</p>
                        <p class="text-gray-500">Arrecadação Atual: R$ {{ campanha.arrecadacao_atual }}</p>
                        <p class="text-gray-500">Data de Início: {{ campanha.data_inicio }}</p>
                        <p class="text-gray-500">Data de Fim: {{ campanha.data_fim }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-gray-700">Nenhuma campanha em andamento.</p>
            {% endif %}
        </div>
        
        <!-- Campanhas Concluídas -->
        <div class="mb-6">
            <h2 class="text-2xl text-red-800 font-bold mb-4">Campanhas Concluídas</h2>
            {% if campanhas_concluidas_zip %}
                {% for campanha, crowd in campanhas_concluidas_zip %}
                    <div class="mb-4 p-4 bg-gray-200 rounded-lg">
                        <h3 class="text-xl text-purple-800 font-bold"><a href="{% url 'campanhas:principal_camp' crowd.0 crowd.1 %}">{{ campanha.titulo }}</a></h3>
                        <p class="text-gray-700">{{ campanha.descricao }}</p>
                        <p class="text-gray-500">Meta: R$ {{ campanha.meta }}</p>
                        <p class="text-gray-500">Arrecadação Atual: R$ {{ campanha.arrecadacao_atual }}</p>
                        <p class="text-gray-500">Data de Início: {{ campanha.data_inicio }}</p>
                        <p class="text-gray-500">Data de Fim: {{ campanha.data_fim }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-gray-700">Nenhuma campanha concluída.</p>
            {% endif %}
        </div>
    </div>

    <div class="text-center">
        {% if funcao_usuario == 'ADMINISTRADOR' or funcao_usuario == 'MEMBRO' %}
            {% if not campanhas_em_andamento_zip %}
                <a href="{% url 'campanhas:form_criacao_camp' projeto.id %}" class="bg-purple-600 text-white py-3 px-6 rounded inline-block text-xl">Criar Campanha!</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}